.card-item{
    background-color: #0466D2;
    border-radius: 5px;
    border-width: medium;
    color: white;
    margin: 0.5em;
    padding: 2.5em 1.5em;
    text-align: center;
    min-width: 32px;
}